@use "sass:math";


// Підключення міксінів ===========================================================================================================================================================================================================================================================================
@import '/src/assets/styles/base/mixins';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url('https://fonts.googleapis.com/css?family=Nunito:regular&display=swap');



// Шрифт по замовчуванню ==============================================================================================================================================================================================================================================================================
$fontFamily: "Nunito";
$fontSize: rem(16); // 

// Основні кольора
$mainColor: rgba(0, 0, 0, 0.87); // коліп по замовчуванню 

// Адаптивна сітка ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1200;
// Ширина контейнера (0 = ,)
$maxWidthContainer: 1024;

$containerPadding: 30;

// Перший брейк
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки,
$tablet: em(991.98); // Планшети
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптиву:
// 1 = без брейк
// 2 = по брейк
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Ресет============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import '/src/assets/styles/base/null';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {

	// Скролл забл
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт зав
	.loaded & {}
}

//  wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// контейнер ======================================================================================================================================================================================================================


@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// По брейк
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилей, шаблонів (заготовок) и


// Підключення  БЄМ
@import '/src/assets/styles/base/common.scss';

//  Підключення компонентів
@import '/src/assets/styles/components/testheader.scss';
@import '/src/assets/styles/components/testuserslist.scss';
@import '/src/assets/styles/components/testusercard.scss';

// Подключенння стилей сторінок
@import '/src/assets/styles/pages/signup.scss';
@import '/src/assets/styles/pages/userspage.scss';